/* App.css */
.App {

    align-items: center;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  .career-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }
  
  .career-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .career-card:last-child {
    margin-right: 0;
  }
  
  .career-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .career-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .career-card a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
  }
  
  .career-card a:hover {
    text-decoration: underline;
  }